
@{
    ViewBag.Title = "About";
}

<h2>About</h2>

<section class="py-5">
    <div class="container ">

        <p class="lead">
            Lorem ipsum dolor sit amet, tale purto debet ex eos.<br />
            Eu est feugiat efficiendi.<br />
            Perfecto constituto nec et, an duo modus assum persius.<br />
            Tollit dolorum mel te.<br />
            <br />
            Mea cu eros fabulas splendide.<br />
            No assum epicuri mediocrem pro.<br />
            Vis primis atomorum cu, id mundi inciderint usu.<br />
            Dicam ridens temporibus cu sea.<br />
            Te sit clita primis animal, vim possim epicurei ea.<br />
            <br />
            Ad scaevola repudiare duo, pri viris equidem no.<br />
            Ei quo oratio phaedrum disputationi.<br />
            Quodsi blandit pro ut, duo noster melius an.<br />
            Id ius eius intellegam, nam ex natum laudem, choro timeam at mel.<br />
            Ad expetenda hendrerit expetendis sed, at vocibus scaevola atomorum qui.<br />
            Cum admodum pericula eu, vel graecis alienum patrioque ex, ut sea gubergren adolescens.<br />
        </p>
    </div>
</section>

<section class="py-5">
    <div class="container ">

        <p class="lead">
            Lorem ipsum dolor sit amet, tale purto debet ex eos.<br />
            Eu est feugiat efficiendi.<br />
            Perfecto constituto nec et, an duo modus assum persius.<br />
            Tollit dolorum mel te.<br />
            <br />
            Mea cu eros fabulas splendide.<br />
            No assum epicuri mediocrem pro.<br />
            Vis primis atomorum cu, id mundi inciderint usu.<br />
            Dicam ridens temporibus cu sea.<br />
            Te sit clita primis animal, vim possim epicurei ea.<br />
            <br />
            Ad scaevola repudiare duo, pri viris equidem no.<br />
            Ei quo oratio phaedrum disputationi.<br />
            Quodsi blandit pro ut, duo noster melius an.<br />
            Id ius eius intellegam, nam ex natum laudem, choro timeam at mel.<br />
            Ad expetenda hendrerit expetendis sed, at vocibus scaevola atomorum qui.<br />
            Cum admodum pericula eu, vel graecis alienum patrioque ex, ut sea gubergren adolescens.<br />
        </p>
    </div>
</section>