
@{
    ViewBag.Title = "Index";
}

<head>

    <style>

    </style>

</head>

<body>

    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner" role="listbox">
            <!-- Slide One - Set the background image for this slide in the line below -->
            <div class="carousel-item active" style="background-image: url('https://source.unsplash.com/RCAhiGJsUUE/1920x1080')">
                <img src="~/Imgs/Slide1.jpg" class="d-block w-100" />
                <div class="carousel-caption d-none d-md-block">
                    <h3 class="display-4">Attentive Care & soft bedding</h3>
                    <p class="lead">We put the care and wellbeing of our patients first.</p>
                </div>
            </div>
            <!-- Slide Two - Set the background image for this slide in the line below -->
            <div class="carousel-item" style="background-image: url('https://source.unsplash.com/wfh8dDlNFOk/1920x1080')">
                <img src="~/Imgs/Slide2.jpg" class="d-block w-100" />
                <div class="carousel-caption d-none d-md-block">
                    <h3 class="display-4">One of scotlands best medical training facilites</h3>
                    <p class="lead">We uphold a high degree of care and fortitude, which reflects upon our students</p>
                </div>
            </div>
            <!-- Slide Three - Set the background image for this slide in the line below -->
            <div class="carousel-item" style="background-image: url('https://source.unsplash.com/O7fzqFEfLlo/1920x1080')">
                <img src="~/Imgs/Slide3.jpg" class="d-block w-100" />
                <div class="carousel-caption d-none d-md-block">
                    <h3 class="display-4">Heart of medical and virology reasearch in scotland</h3>
                    <p class="lead">We are privately funded by charites and medical institutions to gurantee a better tommorow</p>
                </div>
            </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>

    <!-- Page Content -->
    <section class="py-5">
        <div class="container ">
            <h1 style="text-decoration: underline" class="font-weight-light">Awarded Quality of Care UK 2016</h1>
            <img class="img-fluid rounded-circle" src="~/Imgs/HomePageImage1.jpg" width="500" height="600" style="float: Right" />
            <p class="lead">
                Lorem ipsum dolor sit amet, tale purto debet ex eos.<br />
                Eu est feugiat efficiendi.<br />
                Perfecto constituto nec et, an duo modus assum persius.<br />
                Tollit dolorum mel te.<br />
                <br />
                Mea cu eros fabulas splendide.<br />
                No assum epicuri mediocrem pro.<br />
                Vis primis atomorum cu, id mundi inciderint usu.<br />
                Dicam ridens temporibus cu sea.<br />
                Te sit clita primis animal, vim possim epicurei ea.<br />
                <br />
                Ad scaevola repudiare duo, pri viris equidem no.<br />
                Ei quo oratio phaedrum disputationi.<br />
                Quodsi blandit pro ut, duo noster melius an.<br />
                Id ius eius intellegam, nam ex natum laudem, choro timeam at mel.<br />
                Ad expetenda hendrerit expetendis sed, at vocibus scaevola atomorum qui.<br />
                Cum admodum pericula eu, vel graecis alienum patrioque ex, ut sea gubergren adolescens.<br />
            </p>
        </div>
    </section>

</body>