
@{
    ViewBag.Title = "StaffHome";
}

<h2>StaffHome</h2>

@if (Request.IsAuthenticated)
{
    <button onclick="window.location.href = '@Url.Action("AdminServicesRedirect","StaffHome")';" style="position: center">Admin Services</button><br />

    <button onclick="window.location.href = '@Url.Action("MedicalRecordsRedirect","StaffHome")';" style="position: center">Medical Records</button><br />

    <button onclick="window.location.href = '@Url.Action("TeamManagmentRedirect","StaffHome")';" style="position: center">Team Managment</button>
}
else
{
    @Html.AntiForgeryToken()
    Response.Redirect("~/Home/Index");
}

