
@{
    ViewBag.Title = "Analysis Queries";
}

<h2>Queries For Pdf Conversion</h2>

<button class="btn-block btn-primary" onclick="window.location.href = '@Url.Action("GetPatients", "AnalyticsManagement")';" style="position: center">Search doctors who treated patient</button><br />

<button class="btn-block btn-primary" onclick="window.location.href = '@Url.Action("GetTeams", "AnalyticsManagement")';" style="position: center">Patients under the care of a team</button><br />

